.pl {
	display: flex;
	margin: 0 auto;
	width: 14em;
	height: auto;
	padding-left: 50px;
}
.pl line {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.pl__line1,
.pl__line9 {
	animation-name: line1;
}
.pl__line2,
.pl__line8 {
	animation-name: line2;
}
.pl__line3,
.pl__line7 {
	animation-name: line3;
}
.pl__line4,
.pl__line6 {
	animation-name: line4;
}
.pl__line5 {
	animation-name: line5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

@keyframes line1 {
	from,
	8% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	18% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	28% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	38% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	48% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	53% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(0.5rem,1rem);
	}
	56% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	60% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	70% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	80% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	90% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
}
@keyframes line2 {
	from,
	6% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	16% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	26% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	36% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	46% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	51% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(0.5rem,1rem);
	}
	54% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	58% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	68% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	78% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	88% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	98%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
}
@keyframes line3 {
	from,
	4% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	14% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	24% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	34% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	44% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	49% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(0.5rem,1rem);
	}
	52% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	56% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	66% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	76% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	86% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	96%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
}
@keyframes line4 {
	from,
	2% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	12% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	22% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	32% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	42% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	47% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(0.5rem,1rem);
	}
	50% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	54% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,1rem);
	}
	64% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	74% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	84% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	94%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
}
@keyframes line5 {
	from {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	10% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	20% {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	30% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	40% {
		stroke-dashoffset: -16;
		transform: translate(0,15px);
	}
	50% {
		stroke-dashoffset: -31;
		transform: translate(0,-40.5rem);
	}
	58% {
		stroke-dashoffset: -31;
		transform: translate(0,0.5rem);
	}
	65% {
		stroke-dashoffset: -31.99;
		transform: translate(0,-1.5rem);
	}
	71.99% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -31.99;
		transform: translate(0,-1rem);
	}
	72% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
	82% {
		stroke-dashoffset: 16;
		transform: translate(0,0.5rem);
	}
	92%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,1rem);
	}
}
