# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.
# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.
# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.
# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3020"
# Next Auth Discord Provider
DISCORD_CLIENT_ID=1126590068816101436
DISCORD_CLIENT_SECRET=y7uFORVno_H0MXT8R0T4etuoOhnkeV2q
NEXTAUTH_SECRET="mindoora-web"
NEXT_PUBLIC_LOCAL_BACKEND_BASE_URL="http://localhost:4040/api"
NEXT_PUBLIC_PRODUCTION_BACKEND_BASE_URL="https://mindooraserver.mindoora.com/api"
GOOGLE_ID=406914558190-4q3t9ifkosqdllcaq2akmqkdb5t5r0g9.apps.googleusercontent.com
GOOGLE_SECRET=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
LINKEDIN_ID=77zh1b74xs5r1b
LINKEDIN_SECRET=kthymvAhtfSwrbmU
FACEBOOK_ID=749166060066082
FACEBOOK_SECRET=4b5d79f401430d34f1075aaaf0a4c1fd
INSTAGRAM_ID=295320386392060
INSTAGRAM_SECRET=dae46df62a7b6686baa74f2c0d353d1e
TWITTER_ID=oVbE5eb5GpbOETaq9MRxnGabH
TWITTER_SECRET=qPHxh4nyhnYv1arP2fkCk2ju94hwxXXMlskS3GYiiB1v9aNvHj
DISCORD_CLIENT_ID=1126590068816101436
DISCORD_CLIENT_SECRET=Ej7K2_E1cHAFNPsusX2JX7o8egiWVQ-v
LOCAL_BACKEND_BASE_URL="http://localhost:4040/"
PRODUCTION_BACKEND_BASE_URL="https://mindooraserver.mindoora.com"
NEXT_PUBLIC_SANITY_DATASET=mindoora
NEXT_PUBLIC_SANITY_PROJECT_ID=gqqw11oz
NEXT_PUBLIC_SANITY_API_TOKEN=skGIVcqoFddnjs48hxzRo91ILGQ1chCxOplFsdBk8Ev5ftvfv2AIsnI7z7uIu8QnZKCOMH1KyQlN2hCEJ5d4eAn44ghkhBNQ2eU9jjGegTD5rjwpPq23ilx1N7bkfXO33bF32OwtK87O6AkPQNjOisoD8MBYw6whC6SjsXVBxOXAfDETSAwY
NEXT_PUBLIC_GOOGLE_RECAPCHA_SITE_KEY=6LfWnnsoAAAAAGPCe8HhR1zI7945yUVi9xcwEfJY
NEXT_PUBLIC_GOOGLE_RECAPCHA_SECRET_KEY=6LfWnnsoAAAAAF1km7_pqH_h91rRY1mZdukLImG9
RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false
NODE_ENV="development"
NEXT_PUBLIC_VERIFIED_SECRET="kfjhakfhaskldlkfkldjslkdjaf"
NEXT_PUBLIC_BASE_URL=http://localhost:8080/
NEXT_PUBLIC_LIVEKIT_URL=wss://discord-yiiu4n5j.livekit.cloud
NEXT_PUBLIC_SOCKET_URL_LOCAL="ws://localhost:8080"
NEXT_PUBLIC_SOCKET_URL_PRODUCTION="wss://mindooraserver.mindoora.com"
